## Verkehrsdichte

https://daten.berlin.de/datensaetze/verkehrsdetektion-berlin

Berlin Open Data | Verkehrsdetektion Berlin VIZ

Digitale Plattform Stadtverkehr Berlin - Verkehrsdetektion
Archiv der Messdaten aus der Verkehrsdetektion in Berlin. Die Daten können unter der Lizenz "Datenlizenz Deutschland – Namensnennung – Version 2.0 (dl-de-by-2.0)" - Quellenvermerk "Digitale Plattform Stadtverkehr Berlin / Verkehrsdetektion Berlin" - verwendet werden.
- Verkehrsdetektion
- Messquerschnitte (fahrtrichtungsbezogen)

In [ ]:
import pandas as pd

#Lesen der CSV
datei_pfad = 'mq_hr_2023_12.csv'
df = pd.read_csv(datei_pfad)

#Ausgabe, ersten 5 zeilen
#print(df.head())
df.head()

In [5]:
df = pd.read_csv(datei_pfad,sep=";")
df

,mq_name,tag,stunde,qualitaet,q_kfz_mq_hr,v_kfz_mq_hr,q_pkw_mq_hr,v_pkw_mq_hr,q_lkw_mq_hr,v_lkw_mq_hr
0,TE001,02.12.2023,19,1.0,657,73,634,73,24,65
1,TE001,02.12.2023,21,1.0,428,69,410,69,18,69
2,TE001,02.12.2023,22,1.0,365,77,356,77,9,75
3,TE001,02.12.2023,23,1.0,375,75,368,75,7,76
4,TE001,03.12.2023,0,1.0,210,77,208,77,2,74
...,...,...,...,...,...,...,...,...,...,...
117203,TE558,31.12.2023,19,1.0,131,26,128,26,3,29
117204,TE558,31.12.2023,20,1.0,86,25,83,25,2,30
117205,TE558,31.12.2023,21,1.0,93,28,88,28,3,31
117206,TE558,31.12.2023,22,1.0,87,30,84,30,0,-1
117207,TE558,31.12.2023,23,1.0,100,22,97,23,1,33

In [6]:
# Spalten umbenennen
df = df.rename(columns={'mq_name': 'MQ_KURZNAME'})

df

,MQ_KURZNAME,tag,stunde,qualitaet,q_kfz_mq_hr,v_kfz_mq_hr,q_pkw_mq_hr,v_pkw_mq_hr,q_lkw_mq_hr,v_lkw_mq_hr
0,TE001,02.12.2023,19,1.0,657,73,634,73,24,65
1,TE001,02.12.2023,21,1.0,428,69,410,69,18,69
2,TE001,02.12.2023,22,1.0,365,77,356,77,9,75
3,TE001,02.12.2023,23,1.0,375,75,368,75,7,76
4,TE001,03.12.2023,0,1.0,210,77,208,77,2,74
...,...,...,...,...,...,...,...,...,...,...
117203,TE558,31.12.2023,19,1.0,131,26,128,26,3,29
117204,TE558,31.12.2023,20,1.0,86,25,83,25,2,30
117205,TE558,31.12.2023,21,1.0,93,28,88,28,3,31
117206,TE558,31.12.2023,22,1.0,87,30,84,30,0,-1
117207,TE558,31.12.2023,23,1.0,100,22,97,23,1,33